body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #353535;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 10px solid rgba(58, 0, 135, 0.96);
    border-radius: 50%;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: rgba(136, 136, 136, 0.96);
    transform-origin: bottom;
}

.hour-hand {
    height: 50px;
    width: 6px;
    animation: rotateHour 60s linear infinite; /* Анимация для часовой стрелки */
}

.minute-hand {
    height: 70px;
    width: 4px;
    animation: rotateMinute 30s linear infinite; /* Анимация для минутной стрелки */
}

.second-hand {
    height: 90px;
    width: 2px;
    background: rgb(4, 255, 0);
    animation: rotateSecond 15s linear infinite; /* Анимация для секундной стрелки */
}

@keyframes rotateHour {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateMinute {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateSecond {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
